* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.section-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  padding: 25px 0 35px 0;
  position: relative;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8ebf1;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.header__logo {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  text-decoration: none;
  z-index: 3;
}

.header__logo span:first-child {
  color: #000;
  font-weight: 900;
}

.header__logo span:last-child {
  color: #2aacc8;
  font-weight: 400;
}

.header__nav {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  z-index: 3;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  margin: 0px 0px 0px 30px;
  position: relative;
}

.header__nav-link {
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav-link:hover {
  border-top: 5px solid #2aacc8;
}

.header__nav-link--submenu {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav-link--submenu.active {
  background-color: #fff;
  border-top: 5px solid #2aacc8;
}

.header__nav-link--submenu.active:after {
  top: 4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__nav-link--submenu:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  position: absolute;
  content: '';
  width: 0.4em;
  height: 0.4em;
  border-right: 0.1px solid #000;
  border-top: 0.1px solid #000;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  right: -8px;
  top: 2px;
  pointer-events: none;
}

.header__nav-sub-menu-list {
  display: block;
  position: absolute;
  min-width: 100%;
  left: 0;
  top: 20px;
  background-color: #fff;
  border-bottom: 5px solid #2aacc8;
  padding: 10px;
  font-weight: normal;
  white-space: nowrap;
  font-size: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav-sub-menu-list.active {
  visibility: visible;
  opacity: 1;
}

.header__nav-sub-menu-list li {
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e7e7e7;
}

.header__nav-sub-menu-list li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.header__nav-sub-menu-list li a:hover {
  color: #2aacc8;
}

.top-slider {
  background: #81e4ed;
  border-top: 1px solid #6ec2ca;
}

.top-slider__container {
  position: relative;
  padding: 20px 0 15px 0;
}

.top-slider__container .top-slider__item {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  z-index: 1 !important;
}

.top-slider__container .top-slider__item img {
  max-width: 100%;
}

.top-slider__container .slick-center {
  opacity: 1;
}

.top-slider__container .slick-list {
  overflow: hidden;
}

.top-slider__container .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top-slider__container .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.top-slider__container .slick-prev {
  left: 0;
  background: url("../img/top-slider/slick-arrow_l.svg") 0 0/100% no-repeat;
}

.top-slider__container .slick-next {
  right: 0;
  background: url("../img/top-slider/slick-arrow_r.svg") 0 0/100% no-repeat;
}

.top-slider__container .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-slider__container .slick-dots li {
  margin: 6px 6px 0 10px;
}

.top-slider__container .slick-dots li.slick-active button {
  background-color: #fff;
}

.top-slider__container .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #71a3a7;
  border-radius: 50%;
}

.middle-section {
  background-color: #e8ebf1;
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #d9d9d9;
}

.middle-section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.middle-section__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 240px;
          flex: 0 1 240px;
  margin: 4px;
  position: relative;
}

.middle-section__title {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding: 12px 0 0 60px;
  position: relative;
}

.middle-section__title:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
}

.middle-section__title--pen-icon:before {
  background: url("../img/middle/pen_icon.png") 0 0 no-repeat;
}

.middle-section__title--screen-icon:before {
  background: url("../img/middle/screen_icon.png") 0 0 no-repeat;
}

.middle-section__title--layer-icon:before {
  background: url("../img/middle/layer_icon.png") 0 0 no-repeat;
}

.middle-section__title--paperplane-icon:before {
  background: url("../img/middle/paperplane_icon.png") 0 0 no-repeat;
}

.middle-section__desc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section__desc {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 22px;
}

.middle-section__read-btn {
  position: relative;
  padding: 0 0 0 14px;
  text-decoration: none;
  color: #2aacc8;
}

.middle-section__read-btn:hover {
  text-decoration: underline;
}

.middle-section__read-btn:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 4px;
  width: 5px;
  height: 7px;
  background: url("../img/arrow_right_icon.png") 0 0 no-repeat;
}

.latest-work__title {
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  border-bottom: 1px solid #dfe1e5;
  margin: 0 0 19px 0;
  padding: 6px 0 19px 35px;
}

.latest-work__title:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 14px;
  height: 24px;
  background: url("../img/cursor_icon.png") 0 0 no-repeat;
}

.latest-work__container {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dfe1e5;
}

.latest-work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.latest-work__col {
  position: relative;
}

.latest-work__col:hover:before {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.latest-work__col:before {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: '';
  background: url("../img/sample_view.gif");
  width: 220px;
  height: 81px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.testimonials-clients {
  margin: 20px 0 40px 0;
}

.testimonials-clients__row,
.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__title,
.testimonials__title {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 12px 0 0 30px;
  position: relative;
  width: 100%;
}

.clients__title:before,
.testimonials__title:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 8px;
}

.testimonials__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
}

.testimonials__desc {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.clients__col img {
  border: 1px solid #e8ebf1;
}

.testimonials__author {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.testimonials__title--speechcloud-icon:before {
  width: 24px;
  height: 23px;
  background: url("../img/speechcloud_icon.png") 0 0 no-repeat;
}

.clients__title--people-icon:before {
  width: 24px;
  height: 20px;
  background: url("../img/people_icon.png") 0 0 no-repeat;
}

.footer {
  background-color: #e8ebf1;
  padding: 35px 0 35px 0;
}

.footer__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-bottom: 10px;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.footer__top-title {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__top-about-desc {
  font-size: 14px;
  line-height: 1.5;
}

.footer__top-list {
  line-height: 1.5;
}

.footer__top-list li {
  margin-bottom: 5px;
}

.footer__top-list li a {
  color: #000;
  text-decoration: underline;
}

.footer__top-list li a:hover {
  text-decoration: none;
}

.footer__top-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top-icon {
  display: block;
  width: 53px;
  height: 51px;
  margin: 6px 6px 6px 0;
}

.footer__top-fb--icon {
  background: url("../img/social/facebook_icon.png");
}

.footer__top-db--icon {
  background: url("../img/social/dribbble_icon.png");
}

.footer__top-pin--icon {
  background: url("../img/social/pinterest_icon.png");
}

.footer__top-link--icon {
  background: url("../img/social/linkedin_icon.png");
}

.footer__top-skype--icon {
  background: url("../img/social/skype_icon.png");
}

.footer__top-share--icon {
  background: url("../img/social/sharethis_icon.png");
}

.footer__top-col-about {
  margin: 0 10px 20px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 235px;
          flex: 0 1 235px;
}

.footer__top-col-contact-us {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 170px;
          flex: 0 1 170px;
}

.footer__bottom-copy {
  line-height: 1.5;
}

.footer__logo {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  text-decoration: none;
  z-index: 3;
}

.footer__logo span:first-child {
  color: #000;
  font-weight: 900;
}

.footer__logo span:last-child {
  color: #2aacc8;
  font-weight: 400;
}

@media (max-width: 1012px) {
  .section-container {
    max-width: 970px;
  }

  .footer__top-col-explore,
  .footer__top-col-connect-with-us,
  .footer__top-col-browse,
  .footer__top-col-about {
    margin: 0 10px 20px 10px;
  }

  .footer__top-col-contact-us {
    margin: 0 10px 20px 10px;
  }
}

@media (max-width: 992px) {
  .section-container {
    max-width: 750px;
  }

  .header__nav-link {
    padding: 4px 4px;
  }

  .middle-section {
    padding: 20px 0;
  }

  .middle-section__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .middle-section__col {
    margin: 12px 6px;
  }

  .latest-work__title {
    margin-top: 10px;
  }

  .latest-work__col {
    margin: 12px 6px;
  }

  .latest-work__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .testimonials-clients {
    margin: 10px 0 20px 0;
  }

  .testimonials-clients__row,
  .clients__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .testimonials__desc {
    margin-bottom: 15px;
  }

  .testimonials__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .clients__col img {
    margin: 12px 6px;
  }

  .testimonials__author {
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px 0 20px 0;
  }

  .footer__top-col-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer__top-col-contact-us,
  .footer__top-col-explore,
  .footer__top-col-browse {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .footer__bottom-copy {
    margin-bottom: 5px;
  }

  .footer__bottom-copy:last-child {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .section-container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    padding: 5px 0 5px 0;
    width: 100%;
    position: fixed;
  }

  .header__nav {
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8ebf1;
    z-index: 1;
    padding-top: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__nav.active {
    top: 0;
  }

  html.lock,
  body.lock {
    overflow: hidden;
  }

  .header__nav-item {
    margin: 22px 0px 0px 12px;
  }

  .header__nav-link {
    padding: 0px;
  }

  .header__nav-link:hover {
    color: #2aacc8;
    border-top: none;
  }

  .header__nav-list {
    display: block;
  }

  .header__logo {
    font-size: 35px;
    position: relative;
    z-index: 3;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger:hover {
    cursor: pointer;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    content: '';
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__nav-link--submenu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .header__nav-link--submenu:after {
    display: none;
  }

  .header__nav-link--submenu-mobile-open-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    border: 0px solid #000;
    margin-left: 14px;
    width: 20px;
    height: 10px;
  }

  .header__nav-link--submenu-mobile-open-menu.active:after {
    top: 2px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__nav-link--submenu-mobile-open-menu:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    content: '';
    width: 0.7em;
    height: 0.7em;
    border-right: 0.1px solid #000;
    border-top: 0.1px solid #000;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    left: 3px;
    top: -4px;
    pointer-events: none;
  }

  .header__nav-link--submenu-mobile-open-menu:hover {
    cursor: pointer;
  }

  .header__nav-sub-menu-list {
    position: absolute;
    left: 20;
    top: 0;
    margin-top: 14px;
    border-top: 5px solid #2aacc8;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .header__nav-sub-menu-list.active {
    display: block;
    position: static;
    visibility: visible;
    opacity: 1;
  }

  .content {
    padding: 44px 0 0 0;
  }

  .top-slider__container .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #71a3a7;
    border-radius: 50%;
  }

  .middle-section {
    padding: 10px 0;
  }

  .middle-section__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 576px) {
  .footer__top-col-contact-us,
  .footer__top-col-explore,
  .footer__top-col-browse {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}